@import '../variables.scss';

.c-header {
    background: salmon;
    padding: 0.5rem 0;
}

.c-nav {
    ul {
        list-style: none;

        li {
            padding: 0.5rem 1rem;

            a {
                text-decoration: none;
                color: $white;

                &:hover,
                &:focus,
                &:active {
                    color: $gray;
                }
            }
        }
    }
}